.gallery-item {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  text-align: center;

  color: #787276;
  font-size: 1.5rem;
}

.gallery-item p {
  align-self: center;
  margin: auto 0;
}
