#slide-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    align-self: center;
    justify-self: center;
}

.arrow  {
    text-align: center;
}

#left-arrow {
    height:50px;
    width: 50px;
    background-color: red;
}

#right-arrow {
    height:50px;
    width: 50px;
    background-color: aqua;
}