.gallery {
  display: flex;
  height: calc(70% - 4px);
  left: 15vw;
  overflow: hidden;
}

.gallery-items-container {
  margin: auto 15vw;
  overflow: auto;
  height: 70%;
  width: 70%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(50%, 1fr);
  padding-right: 1vw;
}
