.footer-logo {
  height: 70%;
  right: 0%;
}

.footer-body {
  box-sizing: border-box;
  border-top: #787276 2px solid;
  display: flex;
  height: 15%;
  padding: 0 15vw;
  width: 100vw;
  bottom: 0;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-body > p {
  margin: 0;
  color: #787276;
}

.footer-body section {
  justify-content: flex-end;
  color: #787276;
  display: flex;
  gap: 2.5vw;
  align-items: center;
}
